@{
    ViewData["Title"] = "About Us";
}

<main role="main" class="pb-3">
    <h1>@ViewData["Title"]</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed egestas sem. Etiam consequat gravida mauris, vel ultrices mauris tincidunt eget. Donec blandit, risus in euismod ornare, velit elit euismod eros, a fringilla risus leo nec diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In consectetur turpis posuere, tincidunt magna vel, feugiat libero. Curabitur nec odio eros. Mauris pharetra felis ex..</p>
    <p>We are committed to delivering exceptional services and solutions to our clients. Our team is dedicated to ensuring the highest level of customer satisfaction.</p>
    <p>Thank you for visiting our website. If you have any questions, feel free to contact us!</p>
</main>
